<div class="container">
    <table class="table table-striped">
        <thead class="thead-default">
            <tr>
                <th>Question</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" *ngFor="let answer of answers">
                <td>{{answer.question}}</td>
                <td>{{answer.answer_A}}%</td>
                <td>{{answer.answer_B}}%</td>
                <td>{{answer.answer_C}}%</td>
                <td>{{answer.answer_D}}%</td>
            </tr>
        </tbody>
    </table>
</div>