<div id="Voting" class="container-fluid">
  <div class="row">
  <div class="col col-sm-6">
    <div class="row">
    <div class="voting-button col col-sm-6"></div>
    <div class="voting-button col col-sm-6"></div>
    <div class="voting-button col col-sm-6"></div>
    <div class="voting-button col col-sm-6"></div>
    </div>
    voting-machine works!
  </div>
  <div class="col col-sm-6">
  <app-voting-machine-table></app-voting-machine-table>
  </div>
  </div>
  </div>
  <app-voting-machine-chart></app-voting-machine-chart>
  

