<div class="container">
    <table class="table table-striped">
        <thead class="thead-default">
            <tr>
                <th style="width:65%">Question</th>
                <th style="width:9%">A</th>
                <th style="width:9%">B</th>
                <th style="width:9%">C</th>
                <th style="width:9%">D</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <td style="width:65%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
                <td style="width:9%">21%</td>
                <td style="width:9%">25%</td>
                <td style="width:9%">30%</td>
                <td style="width:9%">32%</td>
            </tr>
            <tr role="row">
                <td style="width:60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
                <td style="width:10%">21%</td>
                <td style="width:10%">25%</td>
                <td style="width:10%">30%</td>
                <td style="width:10%">32%</td>
            </tr>
            <tr role="row">
                <td style="width:60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
                <td style="width:10%">21%</td>
                <td style="width:10%">25%</td>
                <td style="width:10%">30%</td>
                <td style="width:10%">32%</td>
            </tr>
        </tbody>
    </table>
</div>