<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
      <td>21%</td>
      <td>25%</td>
      <td>30%</td>
      <td>32%</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
      <td>21%</td>
      <td>25%</td>
      <td>30%</td>
      <td>32%</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </td>
      <td>21%</td>
      <td>25%</td>
      <td>30%</td>
      <td>32%</td>
    </tr>
  </tbody>
</table>
</div>
