<div id="Voting" class="container-fluid offset">
    <div class="row">
        <div class="col col-xs-12 col-lg-6">
            <h3 class="text-center">{{ randomQuestion.question }}</h3>
            <div class="row">
                <div class="voting-button  col-sm-12  col-md-6" (click)="addAnswer($event)">
                    <h4 class="text-center">Answer A</h4>
                    <h5 class="text-center">{{ randomQuestion.answer_A }}</h5>
                </div>
                <div class="voting-button  col-sm-12  col-md-6" (click)="addAnswer($event)">
                    <h4 class="text-center">Answer B</h4>
                    <h5 class="text-center">{{ randomQuestion.answer_B }}</h5>
                </div>
                <div class="voting-button  col-sm-12  col-md-6" (click)="addAnswer($event)">
                    <h4 class="text-center">Answer C</h4>
                    <h5 class="text-center">{{ randomQuestion.answer_C }}</h5>
                </div>
                <div class="voting-button  col-sm-12  col-md-6" (click)="addAnswer($event)">
                    <h4 class="text-center">Answer D</h4>
                    <h5 class="text-center">{{ randomQuestion.answer_D }}</h5>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getRandomQuestion()">Get a new random question on click</button>
        </div>
        <div class="col col-sm-12 col-lg-6">
            <app-voting-machine-table [answers]="answers"></app-voting-machine-table>
        </div>
    </div>
</div>
<app-voting-machine-chart [answers]="answers" [questions]="questions" [randomQuestion]="randomQuestion"></app-voting-machine-chart>