/* You can add global styles to this file, and also import other style files */

@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
$colors: #AA7739,
#323776,
#28536C,
#AA8C39;
html {
    width: 100%;
    @include media-breakpoint-up(xs) {
        font-size: 12px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 13px;
    }
    @include media-breakpoint-up(md) {
        font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
}

body {
    app-header {
        .navbar {
            margin: 0 2.813rem;
            height: 6.25rem;
            .navbar-brand {
                font-size: 2.188rem;
            }
            .nav-link {
                font-size: 1.25rem;
            }
            .navbar-toggler {
                margin-top:1rem;
            }
        }
    }
    app-voting-machine {
        .container-fluid {
            margin-top: 5rem;
            padding: 0 1.875rem;
            .btn-primary {
                cursor: pointer;
                outline: 1px solid black;
                border-radius: 0;
            }
            .row {
                margin: 0;
                .voting-button {
                    padding: 0;
                    height: 25vh;
                    cursor: pointer;
                    h5 {
                        margin-top: 1.25rem;
                    }
                    @include media-breakpoint-down(sm) { 
                        height: 10vh;
                     }
                }
                @for $i from 1 through length($colors) {
                    .voting-button:nth-child(#{$i}) {
                        background: lighten(nth($colors, $i), 20%);
                        outline: 1px solid darken(nth($colors, $i), 10%);
                        &:hover {
                            background: nth($colors, $i);
                        }
                    }
                }
            }
        }
        app-voting-machine-table {
            .container {
                margin-top: 0.5rem;
                padding-right: 0;
                @include media-breakpoint-down(lg) { 
                        padding-left:0;
                        margin-left:0;
                        width:100%
                     }
                .table-striped {
                    border: 1px solid #9C9C9C;
                    margin-bottom: 0 !important;
                    thead {
                        display: block;
                        tr {
                            outline: 1px solid #9C9C9C;
                            th:last-child {
                                min-width: 5.375rem;
                            }
                        }
                    }
                    tbody {
                        max-height: 50vh;
                        display: block;
                        overflow-y: auto;
                        tr:not(:first-of-type) {
                            td {
                                border-top: 1px solid #9C9C9C
                            }
                        }
                    }
                }
            }
        }
    }
    app-voting-machine-chart {
        position: relative;
        top: 25vh;
        .container {
            height: 100vh;
        }
    }
}