/* You can add global styles to this file, and also import other style files */
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
$colors: red, green, yellow, blue;
html {
    width: 98%;
    @include media-breakpoint-up(xs) {
        font-size: 12px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 13px;
    }
    @include media-breakpoint-up(md) {
        font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
}
body {
    app-header {

    }
    app-voting-machine {
        .container-fluid {
        margin-top:6.25rem;
        .voting-button{
            height:20rem;
            cursor: pointer;
        }
        @for $i from 1 through length($colors) {
        .voting-button:nth-child(#{$i}){
            background: lighten(nth($colors, $i), 20%);
        }
        }
        }
        app-voting-machine-table {
    }
    }
    app-voting-machine-chart {
        position: relative;
            top:18vh;
        .container {
            height:100vh;
            
        }
        
    }
}